<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Titolo Pagina{% endblock %}</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
    <div class="toggle-container text-end py-3">
        <button id="theme-toggle" class="btn btn-outline-secondary">Attiva Tema Dark</button>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="/static/script.js"></script>
</body>
</html>